<!DOCTYPE html>
<html>
 <head>
  <title>Главная</title>
  <meta charset="utf-8" />
  <script src="https://unpkg.com/vue"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery.min.js"></script>
  
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <style type="text/css" href = "/css/style.css"></style>
  <script src="/js/script.js"></script>
</head>
  <body>
     <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
  <div class = "container">
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
	    <span class="navbar-toggler-icon"></span>
	  </button>
	  <div class="collapse navbar-collapse" id="navbarNav">
	    <ul class="navbar-nav">
	      <li class="nav-item ">
	        <a class="nav-link" href="/"> Главная <span class="sr-only">(current)</span></a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link" href="/new_record/"> форма </a>
	      </li>	  	      
	      <li class="nav-item">
	        <a class="nav-link" href="/test/"> тест </a>
	      </li>	      
	    </ul>
	    <a href = "/myaccount/" > Мой кабинет </a>
      <a href = "/mymessages/" > Мои сообщения </a>
	  </div>
  </div>
</nav>

    <div class="container shadow p-3">

      <div class="row">

        <div class="col ml-5 mr-5">
          <div class="card bg-light mb-3">
            <div class="card-header font-weight-bold"><h1><%= @going['title'] %></h1></div>
            <div class="card-body">
              <h5 class="card-title font-weight-bold"><%= @going['date'] %> марта 2019 года </h5>
              <p class="card-text"><b>Время проведения:</b> с <%= @going['start'] %>:00 по <%= @going['finish'] %>:00</p>
              <p class="card-text"><b>Стоимость:</b> <%= @going['price'] %></p>
              <p class="card-text"><b>Категория:</b> <%= @going['tag'] %></p>
              <p class="card-text"><b>Количество участников:</b></p>
              <p class="card-text"><b>Описание мероприятия:</b> <%= @going['text'] %></p>
               <p class="card-text"><a href = "/account/<%= @going['creater_id'] %>">Создатель мероприятия</a> </p>
              <p class="card-text ml-5 font-italic">всего участников мероприятия: <%= @going['count_max'] %></p>
              <p class="card-text ml-5 font-italic">
              	<a href = "/going_people/<%= @going['id'] %>"> Уже участвуют: <%= @going['count'] %></a>
              </p>
              <p class="card-text ml-5 font-italic">Осталось мест: <%= @going['count_max'] - @going['count'] %></p>
              <div class="row justify-content-end">
                <a href = "#" class = "igoing btn btn-info mr-3" data-index = "<%= @going['id'] %>" >Присоединиться</a>
              </div>
               
            </div>
          </div>
        </div>

      </div>
<script>
  $('.igoing').on("click", function(e){
      e.preventDefault();
      console.log('/add_people_going/' + $(this).data('index'));
      $.ajax({
        url: '/add_people_going/' + $(this).data('index'),
        method: 'GET',
        success: function(d) { console.log(d); },
        error: function(d) { console.log(d); },
      });
      $(this).parent().html('<p> Вы присоединились </p>');
  });
</script>

    </div>
  </body>
</html>
